<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.TamagotchiPet">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TamagotchiPet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receives fitness data and pet state from watch -->
        <service android:name=".FitnessDataReceiver" android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_LISTENER">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.wearable.dataPath"
                android:value="/tamagotchi/*" />
        </service>

    </application>
</manifest>
